.tool {
  background-image: url(../../../assets/image/banner.jpg);
  background: linear-gradient(135deg, #ff0080 0%, #7928ca 100%);
  height: 90px;
  // margin: 10px;
}

* {
  margin: 0px;
  padding: 0px;
}
