.tool {
  background-image: url(../../../assets/image/banner.jpg);
  height: 85px;
  // margin: 10px;
}
.hed {
  background: linear-gradient(135deg, #ff0080 0%, #7928ca 100%);
  mix-blend-mode: normal;
  width: 100%;
  border-radius: 12px;
}
